<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNnR9W9EoCh0cdwbMIIWnJgsyNMR7Cxxs</string>
	<key>GCM_SENDER_ID</key>
	<string>284087223841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claire-blue-park.CoolVibeClub</string>
	<key>PROJECT_ID</key>
	<string>coolvibeclub-d7364</string>
	<key>STORAGE_BUCKET</key>
	<string>coolvibeclub-d7364.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284087223841:ios:61775a5dd4d3d869c88560</string>
</dict>
</plist>